<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>Fang</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="./dist/css/Raset.css"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="./css/swiper-3.4.0.min.css"/>
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
   <style type="text/css" >
       @font-face {
            font-family: 'iconfont';
            src: url('iconfont.eot','iconfont.ttf','iconfont.woff','iconfont.svg');/*其他兼容自行添加*/
        }
        .iconfont{
            font-family:"iconfont";
        }
        .icon-dizhi:before { content: "\e617"; }
        .icon-email:before { content: "\e71d"; }
        .icon-phone:before { content: "\e622"; }
   </style>

</head>

<body ng-app="app">
<div class="warpper">
    <div class="home">
        <div class="home-warp">
            <!-- nav  begin -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                         <a class="navbar-brand" href="#" >
                            <img class="icon-img" alt="Brand" src="./images/ff-icon.ico">
                        </a>
                        <a class="navbar-brand" href="#">HOME</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-header " id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="navbar-brand scroll" href="#about" style="margin-left: 0;background-color: #f8f8f8;">About</a></li>
                            <li class="active"><a class="navbar-brand scroll" style="margin-left: 0;background-color: #f8f8f8;" href="#experience">  Experience</a></li>
                            <li class="active"><a class="navbar-brand scroll" href="#skills" style="margin-left: 0;background-color: #f8f8f8;">Skills</a></li>
                            <li class="active"><a class="navbar-brand scroll" href="#portfolio" style="margin-left: 0;background-color: #f8f8f8;">Portfolio</a></li>
                            <li class="active"><a class="navbar-brand scroll" href="#contact" style="margin-left: 0;background-color: #f8f8f8;">Contact</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- nav end -->
            <div class="fang-grids">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="nav-left">
                                <a class="link-letter" href="#home">
                                    <span data-letters="FANG">FANG</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                        <div class="welcome">
                            Welcome To My Blog!
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container-fluid">
            <div class="about-warp">
                <div class="who">
                    <div class="col-sx-12">
                        <h1>About Me</h1>
                        <hr>
                        <h3>Who I AM</h3>
                        <div class="col-md-12  col-sm-12 col-xs-12 who-me">
                            I am warm and cheerful, and have a strong curiosity about new things. I like to write code, read books, write calligraphy, painting. Longing for simple and ordinary life. I am a professional computer undergraduate students, learning background and foreground knowledge, engaged in computer related technology and marketing work, with a Japanese three level of ability, love WEB.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="desgin">
                            <h3>WEB DESIGN</h3>
                            <p>Some simple web design and interactive design,Page layout and design,Have experience in marketing,Can use some of the mainstream front-end framework and engineering tools, the back-end has a simple understanding of the basic interaction</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="goals">
                            <h3>MY GOALS</h3>
                            <p>I hope in the future work, to contribute to the company at the same time, to enhance their professional knowledge, learn more some knowledge, achieve excellence, and to have a basic understanding of the background knowledge, to a good WEB full stack engineer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience" id="experience">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="experience-warp">
                        <h1>My Experience</h1>
                        <hr>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h2>University one is graduated from：</h2>
                                    <h3>Dalian Neusoft Information Institute</h3>
                                    <h2>Major in:</h2>
                                    <h3>Computer science and Technology (Japanese)</h3>
                                    <h3>University during the study of Java, MySql and other background technology, while participating in a number of small school web development projects, while obtaining the N3 certificate for the Japanese project to understand.</h3>
                                </div>
                                <div class="swiper-slide">
                                    <h2> 北京东方合瑞投资有限公司 </h2>
                                    <h3>Dec 2015 - Sep 2014 Operation and maintenance supervisor</h3>
                                    <h2>Job content：</h2>
                                    <h3>Daily maintenance and management of computer software and hardware maintenance, intranet and extranet, maintenance facilities and network performance;Page content update;Company server and related equipment maintenance; network and server upgrade, backup, recovery and problem solving.</h3>
                                </div>
                                <div class="swiper-slide">
                                    <h2> 北京嘉士宝科技有限公司 </h2>
                                    <h3>Oct 2016 - Dec 2015  JAVA development</h3>
                                    <h2>Job content：</h2>
                                    <h3>Development and maintenance of the company management system, to provide technical support to other departments; the use of Linux platform, Oracle MySql database, resume software system design, module design, in accordance with the need to complete the detailed design.</h3>
                                </div>
                                <div class="swiper-slide">
                                    <h2> 北京易联致远无线技术有限公司   </h2>
                                    <h3>Oct 2016 so far  Web front end development practice</h3>
                                    <h2>Job content：</h2>
                                    <h3>Responsible for the front-end development and maintenance of the website products, design and implement the user interface of the product, optimize the front end performance, multi browser environment, front and rear end interaction, front end mainstream framework.</h3>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills" id="skills">
        <div class="container">
            <div class="skills-warp">
                <div class="container">
                    <div class="section-title center">
                        <h1>My Skills</h1>
                        <hr>
                    </div>
                    <div class="row skills-row" >
                        <div class="col-md-4 col-sm-6 col-sx-12">
                            <h4>HTML5</h4>
                            <span class="chart" data-percent="95"> <span class="percent">95</span> </span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-sx-12">
                            <h4>CSS3</h4>
                            <span class="chart" data-percent="85"> <span class="percent">85</span> </span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-sx-12">
                            <h4>jQuery</h4><span class="chart" data-percent="80"> <span class="percent">80</span> </span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-sx-12">
                            <h4>NodeJS</h4> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-sx-12">
                            <h4>Photoshop</h4> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-sx-12">
                            <h4>Frame</h4> <span class="chart" data-percent="75"> <span class="percent">75</span> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        <div class="portfolio" id="portfolio">
            <div class="container">
                <div class="portfolio-warp">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title center">
                                <h1>My Portfolio</h1>
                                <hr>
                                <p>This is my own development work, the technologies used include HTML5, CSS3, JS, JQuery, Bootstrap, flex, AngularJS, NodeJS, PHP, APP and JS application framework, using PS, Fis3, Grunt, Glup etc. some engineering architecture tools. I hope you will love.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="portfolio-items">
                                <div class="portfolio-item gallery clearfix">
                                    <div class="hover-bg" id="hover-bg">
                                        <a href="./images/portfolio/01.png" rel="prettyPhoto[gallery2]" title="">
                                            <div class="hover-text">
                                                <h2>view</h2>
                                            </div>
                                            <img src="./images/portfolio/01.png" width="257.5" alt="This is a web demo" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3  ">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/02.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div>
                                        <img src="./images/portfolio/02.jpg" width="257.5" alt="This is a web demo" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 ">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/03.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div><img src="./images/portfolio/03.jpg" width="257.5" alt="This is a web demo" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3  ">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/04.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div><img src="./images/portfolio/04.jpg" width="257.5" alt="This is a web demo" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/05.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div><img src="./images/portfolio/05.jpg" width="257.5" alt="This is a php demo" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3  ">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/06.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div><img src="./images/portfolio/06.jpg" width="257.5" alt="This is a web demo" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 ">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/07.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div><img src="./images/portfolio/07.jpg" width="257.5" alt="This is a web demo" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3  ">
                            <div class="portfolio-item gallery clearfix">
                                <div class="hover-bg" id="hover-bg">
                                    <a href="./images/portfolio/08.jpg" rel="prettyPhoto[gallery2]" title="">
                                        <div class="hover-text">
                                            <h2>view</h2>
                                        </div><img src="./images/portfolio/08.jpg" width="257.5" alt="This is a AngularJS demo" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
  

        <div class="contact" id="contact">
            <div class="container">
                <div class="contact-warp">
                    <div class="section-title center">
                        <h1>Contact Me</h1>
                        <hr>
                        <p>Above is a brief introduction to myself, if I meet your requirements, or you are interested in me, here is my contact information.</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 mode mode-fonts">
                        <div class="col-md-4 col-sm-4 mode1"> <i class="iconfont icon-dizhi" style="margin-left: 50px;"></i>
                            <p>Fushun, Liaoning</p>
                        </div>
                        <div class="col-md-4 col-sm-4 mode2"> <i class="iconfont icon-email" style="margin-left:60px;"></i>
                            <p>13941365352@163.com</p>
                        </div>
                        <div class="col-md-4 col-sm-4 mode3"> <i class="iconfont icon-phone" style="margin-left:30px;"></i>
                            <p>13941365352</p>
                        </div>
                        <hr>
                    </div>
                    <div class="col-md-8 col-md-offset-2 mode">
                        <h3 style="text-align: center;">LEAVE ME A MESSAGE</h3>
                        <form name="MessageForm" id="contactForm" ng-controller="ctrl" >
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" ng-class="{'has-error':MessageForm.user.$dirty && MessageForm.user.$invalid}">
                                        <input type="text" id="name" name="user" class="form-control" placeholder="Name" required="required" ng-pattern="/^[a-zA-Z]\w{2,10}[a-zA-Z\d]$/" ng-model="data.username">
                                       <p class="text-danger help-block" ng-show="MessageForm.user.$dirty && MessageForm.user.$error.pattern ">用户名不符合规则</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group" ng-class="{'has-error':MessageForm.email.$dirty && MessageForm.email.$invalid}">
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="required" ng-pattern="/^([a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*[;；]?)+$/i" ng-model="data.email">
                                        <p class="help-block text-danger" ng-show="MessageForm.email.$dirty && MessageForm.email.$error.pattern ">邮箱不符合规则</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group" ng-class="{'has-error':MessageForm.message.$dirty && MessageForm.message.$invalid}">
                                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required="required" ng-model="data.message"></textarea>
                                    <p class="help-block text-danger" ng-show="MessageForm.message.$pristine ">请填写Message</p>
                                </div>
                            </div>                          
                        </form>
                        <button  type="submit" class="btn btn-default" id="sendbtn" ng-disabled="MessageForm.$invalid">Send Message</button>
                    </div>
                </div>
            </div>
        </div>

</div>


    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/swiper-3.4.0.min.js"></script>
    <script type="text/javascript" src="./js/easypiechart.js"></script>
    <script type="text/javascript" src="./js/angular.js"></script>
    <script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>

</html>
