*{
	margin:0;
	padding:0;
}
.wrapper{
	height: 100%;
	width: 100%;
}
/*定义顶部实体*/
@font-face {
	    font-family: 'iconfont';
	    src: url('iconfont.eot');/*其他兼容自行添加*/
	}
		.iconfont{
		font-family:"iconfont";
	}
		.icon-tianqi:before { content: "\e714"; }
/*中间部分*/
.middle .img{
	margin-left:323px;
}
.middle .mput{
	position: absolute;
    left: 80px;
    top: 247px;
    width:820px;
    height: 244px;
}
.middle .input{
	width: 620px;
    height: 120px;
}
.middle .sub{
	height: 124px;
    width: 200px;
    position: absolute;
    top: 247px;
    left: 700px;
    font-size: 30px;
    color: white;
    background-color: #2196F3;
}

